$color_1: rgba(255, 255, 255, 0.87);
$color_2: #646cff;
$color_3: #535bf2;
$color_4: #213547;
$color_5: #747bff;
$font-family_1: 'Nunito Sans', Inter, Avenir, Helvetica, Arial, sans-serif;
$font-family_2: inherit;
$background-color_1: #242424;
$background-color_2: #1a1a1a;
$background-color_3: #ffffff;
$background-color_4: #f9f9f9;
$border-color_1: #646cff;
$color-dark-elements: hsl(209, 23%, 22%);
$color-dark-background: hsl(207, 26%, 17%);
$color-dark-text: hsl(0, 0%, 100%);
$color-dark-input: hsl(0, 0%, 73%);
$color-dark-shadow: hsl(0, 0%, 5%);
$color-light-elements: hsl(0, 0%, 100%);
$color-light-background: hsl(0, 0%, 98%);
$color-light-text: hsl(200, 15%, 8%);
$color-light-input: hsl(0, 0%, 52%);
$color-light-shadow: hsl(0, 0%, 52%);
