@import '../../Styles/__styles';

.country-details-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-left: 5rem;
  width: 100%;
}

.image-wrapper {
  height: 800px;
  position: relative;
  padding-bottom: 52.63%; /* 1900:1000 */

  img {
    object-fit: cover;
    min-height: 14.3125rem;
    border-radius: 6px;
    margin: auto;
  }
}

.country-details {
  // width: 60vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'text1 text2'
    'borders borders';
}

.border-section {
  grid-area: borders;
  display: flex;
  flex-flow: row nowrap;
}

.country-text-details {
  grid-area: text1;
}
.country-text-details-2 {
  grid-area: text2;
}

.home-button {
  margin-left: 5rem;
  padding: 10px 20px;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px rgb(133 133 133 / 30%);
  background: $color-light-elements;
  color: $color-light-text;
  font-weight: 600;
  font-size: smaller;

  a {
    color: $color-light-text;
  }
}
.country-button {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  height: 40px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px rgb(133 133 133 / 30%);
  background: $color-light-elements;
  color: $color-light-text;
  font-weight: 600;
  font-size: smaller;

  a {
    color: $color-light-text;
  }
}

// DARK MODE
.dark {
  .home-button {
    background-color: $color-dark-elements;
    box-shadow: 0px 0px 5px $color-dark-shadow;

    a {
      color: $color-dark-text;
    }
  }
  .country-button {
    background-color: $color-dark-elements;
    color: $color-dark-text;
    box-shadow: 0px 0px 5px $color-dark-shadow;
  }
}
