@import '../../Styles/__styles';

.country-details-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-left: 5rem;
}

.image-wrapper {
  height: 800px;
  position: relative;
  width: 45vw;
  max-width: 500px;

  img {
    min-width: 100%;
    max-width: 500px;
  }
}

.country-details {
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25px 300px 100px;
  grid-template-areas:
    'title .'
    'text1 text2'
    'borders borders';
  column-gap: 10px;
}

.border-section {
  grid-area: borders;
  display: flex;
  flex-flow: row wrap;
  margin-left: 2rem;
}

.country-text-details {
  grid-area: text1;
  text-align: left;
  margin-left: 2rem;
}
.country-text-details-2 {
  text-align: left;
  grid-area: text2;
}
.country-title {
  grid-area: title;
  h2 {
    text-align: left;
    margin-left: 2rem;
  }
}

.home-button {
  margin-left: 5rem;
  padding: 10px 20px;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px rgb(133 133 133 / 30%);
  background: $color-light-elements;
  color: $color-light-text;
  font-weight: 600;
  font-size: smaller;

  a {
    color: $color-light-text;
  }
}
.country-button {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  height: 40px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px rgb(133 133 133 / 30%);
  background: $color-light-elements;
  color: $color-light-text;
  font-weight: 600;
  font-size: smaller;

  a {
    color: $color-light-text;
  }
}

// DARK MODE
.dark {
  .home-button {
    background-color: $color-dark-elements;
    box-shadow: 0px 0px 5px $color-dark-shadow;

    a {
      color: $color-dark-text;
    }
  }
  .country-button {
    background-color: $color-dark-elements;
    color: $color-dark-text;
    box-shadow: 0px 0px 5px $color-dark-shadow;
  }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .country-details-container {
    display: flex;
    flex-flow: column nowrap;
    // justify-content: space-evenly;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .image-wrapper {
    height: fit-content;
  }
  .home-button {
    margin-left: 1rem;
  }
  .country-details {
    display: flex;
    flex-flow: column nowrap;

    h2 {
      margin-left: 0;
      margin-bottom: 1rem;
      font-size: large;
    }
    strong {
      font-weight: 650;
    }
  }
  .country-text-details {
    margin-left: 0;
  }
  .border-section {
    margin-left: 0;
  }
}
