@import './Styles/__styles.scss';
@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap';

:root {
  font-family: $font-family_1;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  max-width: 130%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  width: auto;
  margin: 0;
  padding: 0;
}

/* DARKMODE */

.dark {
  background-color: $color-dark-background;
  color: $color-dark-text;
}
