@import '../../Styles/_styles';

.country-card {
  display: flex;
  flex-flow: column nowrap;
  // justify-content: space-between;
  max-width: 300px;
  min-width: 250px;
  height: auto;
  border-radius: 5px;
  border: 1px grey solid;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.05);
  margin: 1rem;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
}

.dark {
  .country-card {
    background-color: $color-dark-elements;
    color: $color-dark-text;
  }
}
